<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd            
	                       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd            
	                       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd            
	                       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<context:property-placeholder location="classpath*:*.properties" />

	<!-- Turn on AspectJ @Configurable support -->
	<context:spring-configured />

	<context:component-scan base-package="com.wft" />

	<!-- Turn on @Autowired, @PostConstruct etc support -->
	<bean
		class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />
	<bean
		class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" />


	<!-- Hibernate Transaction Manager Definition -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<tx:annotation-driven mode="aspectj" transaction-manager="transactionManager" />
	<!-- TODO: Switch to annotations for transactions -->
	<!--
	<tx:annotation-driven mode="aspectj"
		transaction-manager="transactionManager" />
	-->
	<!-- 
	<bean id="transactionInterceptor"
		class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<property name="transactionManager" ref="transactionManager" />
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	
	<bean id="autoProxyCreator"
		class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<property name="interceptorNames">
			<list>
				<idref local="transactionInterceptor" />
			</list>
		</property>
		<property name="beanNames">
			<list>
				<value>*DAO</value>
			</list>
		</property>
	</bean>
	
	-->

	<!-- le gestionnaire de BLOB / CLOB de chez Spring -->
	<bean id="lobHandler" class="org.springframework.jdbc.support.lob.DefaultLobHandler" />

	<!-- Hibernate SessionFactory Definition -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">create</prop>
			</props>
		</property>
		<property name="dataSource">
			<ref bean="datasource" />
		</property>
		<property name="packagesToScan">
			<list>
				<value>com.wft.model</value>
				<value>com.wft.model.user</value>
			</list>
		</property>
		<!-- <property name="annotatedClasses"> <list> <value>com.wft.model.Project</value> 
			<value>com.wft.model.Authors</value> <value>com.wft.model.user.User</value> 
			<value>com.wft.model.user.Administrator</value> <value>com.wft.model.user.Gamer</value> 
			<value>com.wft.model.user.Organizer</value> </list> </property> -->
	</bean>

	<!-- 
	<bean id="projectDAO" class="com.wft.service.dao.impl.ProjectDAO">
		<constructor-arg>
			<value>com.wft.model.Project</value>
		</constructor-arg>
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="userDAO" class="com.wft.service.dao.impl.UserDAO">
		<constructor-arg>
			<value>com.wft.model.user.User</value>
		</constructor-arg>
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	-->

	<!-- Service layer -->
	<!-- 
	<bean id="authenticationService"
		class="com.wft.service.services.impl.AuthenticationServiceImpl">
		<property name="dao" ref="userDAO"></property>
	</bean>

	<bean id="projectService"
		class="com.wft.service.services.impl.ProjectServiceImpl">
		<property name="dao" ref="projectDAO"></property>
	</bean>
	-->

	<!-- <bean class="org.springframework.orm.jpa.JpaTransactionManager" id="transactionManager"> 
		<property name="entityManagerFactory" ref="entityManagerFactory" /> </bean> -->


	<!-- 
	<bean
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
		id="entityManagerFactory">
		<property name="dataSource" ref="dataSource" />
		<property name="jpaVendorAdapter">
			<bean id="jpaAdapter"
				class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="generateDdl" value="true" />
				<property name="showSql" value="true" />
			</bean>
		</property>
	</bean>
	-->

	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource"
		p:basename="fooMessages" />

	<bean id="localeResolver"
		class="org.springframework.web.servlet.i18n.SessionLocaleResolver"
		p:defaultLocale="en_US" />

	<bean class="com.wft.util.VaadinApplicationObjectSupport" />

</beans>
